## The purpose of this notebook is to output a processed dataset that covers the same time span as that generated from the 1-day data and check they are essentially the same.

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import re

In [2]:
sessions = pd.read_csv('sessions.csv', index_col=0)
sessions.rename(columns={'SessionID':'SessionId'})
sessions.head()

   SessionID      IpId           TimeStamp   Event       Action Product
0          0  100095PL  637145481360000000   Leave          NaN     NaN
1          1  100095PL  637228232800000000  Arrive          NaN     NaN
2          1  100095PL  637228233260000000     NaN  add_to_cart  p-9967
3          1  100095PL  637228243870000000     NaN        order     NaN
4          1  100095PL  637228244650000000   Leave          NaN     NaN

**From the documentation**: *TimeStamp â€“ long integer value specifying the UTC date and time of the arrival of a request, coded as the number of 100-nanosecond intervals that have elapsed since 00:00:00 UTC on 1st January, 1 A.D.*

In [3]:
seconds = (datetime(1970,1,1)-datetime(1,1,1)).total_seconds()
ticks = seconds * 10**7
sessions['TimeStamp'] = pd.to_datetime((sessions['TimeStamp']-ticks)*100)
sessions.head()

   SessionID      IpId           TimeStamp   Event       Action Product
0          0  100095PL 2020-01-13 21:35:36   Leave          NaN     NaN
1          1  100095PL 2020-04-18 16:14:40  Arrive          NaN     NaN
2          1  100095PL 2020-04-18 16:15:26     NaN  add_to_cart  p-9967
3          1  100095PL 2020-04-18 16:33:07     NaN        order     NaN
4          1  100095PL 2020-04-18 16:34:25   Leave          NaN     NaN

In [4]:
sessions.sort_values('TimeStamp').head()

        SessionID  IpId           TimeStamp   Event       Action   Product
102414      36591   7PL 2019-11-30 23:00:09  Arrive          NaN       NaN
79103       27342  39PL 2019-11-30 23:02:05    Flit          NaN       NaN
100256      35771  74PL 2019-11-30 23:07:38  Arrive          NaN       NaN
103354      36946  81PL 2019-11-30 23:10:05  Arrive          NaN       NaN
100257      35771  74PL 2019-11-30 23:23:55     NaN  add_to_cart  c-35_313

In [5]:
pd.options.display.max_rows = 200
sessions.sort_values(['IpId','TimeStamp']).head(200)

,SessionID,IpId,TimeStamp,Event,Action,Product
0,0,100095PL,2020-01-13 21:35:36,Leave,NaN,NaN
1,1,100095PL,2020-04-18 16:14:40,Arrive,NaN,NaN
2,1,100095PL,2020-04-18 16:15:26,NaN,add_to_cart,p-9967
3,1,100095PL,2020-04-18 16:33:07,NaN,order,NaN
4,1,100095PL,2020-04-18 16:34:25,Leave,NaN,NaN
5,2,1000PL,2019-12-01 10:37:01,Flit,NaN,NaN
6,3,1000PL,2020-02-27 14:31:11,Arrive,NaN,NaN
7,3,1000PL,2020-02-27 14:31:22,Leave,NaN,NaN
8,4,1000PL,2020-03-13 13:14:06,Arrive,NaN,NaN
9,4,1000PL,2020-03-13 13:17:16,Leave,NaN,NaN
10,5,1000PL,2020-03-21 19:36:41,Flit,NaN,NaN
11,6,1000PL,2020-04-02 14:25:00,Arrive,NaN,NaN
12,6,1000PL,2020-04-02 14:25:25,NaN,add_to_cart,p-10519
13,6,1000PL,2020-04-02 15:13:53,Leave,NaN,NaN
14,7,1000PL,2020-04-02 20:16:04,Arrive,NaN,NaN
15,7,1000PL,2020-04-02 20:16:08,Leave,NaN,NaN
16,8,1000PL,2020-04-03 10:18:20,Flit,NaN,NaN
17,9,1000PL,2020-04-12 07:30:30,Flit,NaN,NaN
18,10,1000PL,2020-04-12 10:12:35,Flit,NaN,NaN
19,11,10010PL,2019-12-03 11:28:53,Flit,NaN,NaN
20,12,10010PL,2020-01-04 22:46:07,Arrive,NaN,NaN
21,12,10010PL,2020-01-04 23:09:57,NaN,add_to_cart,p-7414
22,12,10010PL,2020-01-04 23:18:54,Leave,NaN,NaN
23,13,10010PL,2020-01-27 09:15:17,Arrive,NaN,NaN
24,13,10010PL,2020-01-27 09:15:23,Leave,NaN,NaN
25,14,10010PL,2020-02-01 21:51:58,Arrive,NaN,NaN
26,14,10010PL,2020-02-01 21:52:05,Leave,NaN,NaN
27,15,10010PL,2020-02-03 18:05:07,Flit,NaN,NaN
28,16,10010PL,2020-02-09 16:07:28,Arrive,NaN,NaN
29,16,10010PL,2020-02-09 16:26:52,Leave,NaN,NaN
30,17,10010PL,2020-02-21 17:33:50,Arrive,NaN,NaN
31,17,10010PL,2020-02-21 17:33:58,Leave,NaN,NaN
32,18,100180PL,2020-01-13 22:44:22,Arrive,NaN,NaN
33,18,100180PL,2020-01-13 22:47:06,Leave,NaN,NaN
34,19,100180PL,2020-01-22 19:47:32,Arrive,NaN,NaN
35,19,100180PL,2020-01-22 19:52:22,NaN,add_to_cart,p-6769
36,19,100180PL,2020-01-22 19:52:51,NaN,add_to_cart,p-6769
37,19,100180PL,2020-01-22 19:53:13,NaN,add_to_cart,p-4466
38,19,100180PL,2020-01-22 19:54:43,NaN,add_to_cart,p-8068
39,19,100180PL,2020-01-22 20:07:39,Leave,NaN,NaN
40,20,100180PL,2020-01-23 16:15:16,Arrive,NaN,NaN
41,20,100180PL,2020-01-23 16:17:36,NaN,add_to_cart,c-34_307
42,20,100180PL,2020-01-23 16:18:28,NaN,add_to_cart,c-34_356
43,20,100180PL,2020-01-23 16:19:06,NaN,add_to_cart,c-34_356
44,20,100180PL,2020-01-23 16:22:41,NaN,add_to_cart,c-34_307
45,20,100180PL,2020-01-23 16:35:23,NaN,add_to_cart,c-34_110
46,20,100180PL,2020-01-23 17:30:06,Leave,NaN,NaN
47,21,100180PL,2020-01-23 19:38:40,Arrive,NaN,NaN
48,21,100180PL,2020-01-23 19:41:02,NaN,add_to_cart,c-34_356
49,21,100180PL,2020-01-23 19:45:30,NaN,add_to_cart,c-34_118
50,21,100180PL,2020-01-23 19:49:10,NaN,add_to_cart,c-34_356
51,21,100180PL,2020-01-23 19:53:44,NaN,add_to_cart,c-34_113
52,21,100180PL,2020-01-23 19:56:48,NaN,add_to_cart,c-34_118
53,21,100180PL,2020-01-23 20:00:34,NaN,add_to_cart,p-1775
54,21,100180PL,2020-01-23 20:05:14,NaN,change_order,NaN
55,21,100180PL,2020-01-23 20:05:44,NaN,order,NaN
56,21,100180PL,2020-01-23 20:29:20,Leave,NaN,NaN
57,22,100180PL,2020-01-26 19:34:25,Arrive,NaN,NaN
58,22,100180PL,2020-01-26 20:03:12,Leave,NaN,NaN
59,23,100180PL,2020-01-26 21:30:04,Arrive,NaN,NaN
60,23,100180PL,2020-01-26 21:30:10,Leave,NaN,NaN
61,24,100180PL,2020-01-27 21:51:29,Arrive,NaN,NaN
62,24,100180PL,2020-01-27 21:51:34,Leave,NaN,NaN
63,25,100180PL,2020-01-27 23:24:43,Arrive,NaN,NaN
64,25,100180PL,2020-01-27 23:24:49,Leave,NaN,NaN
65,26,100180PL,2020-01-29 17:54:41,Arrive,NaN,NaN
66,26,100180PL,2020-01-29 17:59:15,Leave,NaN,NaN
67,27,100180PL,2020-01-31 23:14:37,Arrive,NaN,NaN
68,27,100180PL,2020-01-31 23:16:58,Leave,NaN,NaN
69,28,100180PL,2020-02-02 12:58:43,Arrive,NaN,NaN
70,28,100180PL,2020-02-02 13:21:58,Leave,NaN,NaN
71,29,100180PL,2020-02-02 17:18:12,Arrive,NaN,NaN
72,29,100180PL,2020-02-02 17:18:18,Leave,NaN,NaN
73,30,100180PL,2020-02-02 18:27:58,Arrive,NaN,NaN
74,30,100180PL,2020-02-02 18:30:28,Leave,NaN,NaN
75,31,100180PL,2020-02-02 19:47:36,Arrive,NaN,NaN
76,31,100180PL,2020-02-02 19:47:42,Leave,NaN,NaN
77,32,100180PL,2020-02-02 22:24:42,Arrive,NaN,NaN
78,32,100180PL,2020-02-02 22:48:26,Leave,NaN,NaN
79,33,100180PL,2020-02-05 21:05:37,Arrive,NaN,NaN
80,33,100180PL,2020-02-05 21:05:43,Leave,NaN,NaN
81,34,100180PL,2020-02-06 16:40:24,Arrive,NaN,NaN
82,34,100180PL,2020-02-06 16:41:46,Leave,NaN,NaN
83,35,100180PL,2020-02-07 19:55:38,Arrive,NaN,NaN
84,35,100180PL,2020-02-07 20:11:38,Leave,NaN,NaN
85,36,100180PL,2020-02-07 20:48:31,Arrive,NaN,NaN
86,36,100180PL,2020-02-07 21:02:49,Leave,NaN,NaN
87,37,100180PL,2020-02-07 22:09:18,Arrive,NaN,NaN
88,37,100180PL,2020-02-07 22:09:20,Leave,NaN,NaN
89,38,100180PL,2020-05-04 22:13:20,Arrive,NaN,NaN
90,38,100180PL,2020-05-04 22:13:47,Leave,NaN,NaN
91,39,100184PL,2020-01-13 22:45:00,Flit,NaN,NaN
92,40,100184PL,2020-02-21 09:30:38,Arrive,NaN,NaN
93,40,100184PL,2020-02-21 09:30:40,Leave,NaN,NaN
94,41,100184PL,2020-05-30 12:26:06,Arrive,NaN,NaN
95,41,100184PL,2020-05-30 12:33:09,NaN,add_to_cart,p-10618
96,41,100184PL,2020-05-30 12:52:28,NaN,add_to_cart,p-7980
97,41,100184PL,2020-05-30 12:54:58,NaN,add_to_cart,p-9829
98,41,100184PL,2020-05-30 13:02:46,Leave,NaN,NaN
99,42,100186PL,2020-01-13 22:46:49,Arrive,NaN,NaN
100,42,100186PL,2020-01-13 22:46:56,Leave,NaN,NaN
101,43,100186PL,2020-02-10 18:25:33,Arrive,NaN,NaN
102,43,100186PL,2020-02-10 18:47:18,NaN,add_to_cart,c-39_40
103,43,100186PL,2020-02-10 18:47:42,NaN,add_to_cart,c-39_40
104,43,100186PL,2020-02-10 18:48:23,NaN,add_to_cart,c-39_41
105,43,100186PL,2020-02-10 18:48:34,NaN,add_to_cart,c-39_41
106,43,100186PL,2020-02-10 18:48:44,NaN,add_to_cart,c-39_41
107,43,100186PL,2020-02-10 18:48:53,NaN,add_to_cart,c-39_41
108,43,100186PL,2020-02-10 18:54:22,NaN,add_to_cart,c-39_42
109,43,100186PL,2020-02-10 18:54:30,NaN,add_to_cart,c-39_42
110,43,100186PL,2020-02-10 18:54:36,NaN,add_to_cart,c-39_42
111,43,100186PL,2020-02-10 18:55:08,NaN,add_to_cart,c-39_42
112,43,100186PL,2020-02-10 18:55:13,NaN,add_to_cart,c-39_42
113,43,100186PL,2020-02-10 18:55:13,NaN,add_to_cart,c-39_42
114,43,100186PL,2020-02-10 18:55:29,NaN,delete_cart,NaN
115,43,100186PL,2020-02-10 18:55:35,Leave,NaN,NaN
116,44,100186PL,2020-03-02 22:36:01,Flit,NaN,NaN
117,45,100186PL,2020-03-02 23:10:46,Flit,NaN,NaN
118,46,100186PL,2020-03-10 22:42:01,Arrive,NaN,NaN
119,46,100186PL,2020-03-10 22:48:49,Leave,NaN,NaN
120,47,100211PL,2020-01-13 23:18:26,Arrive,NaN,NaN
121,47,100211PL,2020-01-13 23:20:50,NaN,add_to_cart,p-5412
122,47,100211PL,2020-01-13 23:21:35,Leave,NaN,NaN
123,48,100223PL,2020-01-13 23:41:16,Arrive,NaN,NaN
124,48,100223PL,2020-01-13 23:43:07,NaN,add_to_cart,p-8577
125,48,100223PL,2020-01-13 23:58:02,NaN,add_to_cart,p-9324
126,48,100223PL,2020-01-14 00:16:03,Leave,NaN,NaN
127,49,100288PL,2020-01-14 00:54:27,Arrive,NaN,NaN
128,49,100288PL,2020-01-14 01:04:42,NaN,add_to_cart,c-38
129,49,100288PL,2020-01-14 01:05:41,NaN,add_to_cart,c-38
130,49,100288PL,2020-01-14 01:05:54,NaN,add_to_cart,c-38
131,49,100288PL,2020-01-14 01:06:36,NaN,add_to_cart,c-38
132,49,100288PL,2020-01-14 01:06:48,NaN,add_to_cart,c-38
133,49,100288PL,2020-01-14 01:09:42,NaN,add_to_cart,c-38
134,49,100288PL,2020-01-14 01:09:56,NaN,add_to_cart,c-38
135,49,100288PL,2020-01-14 01:21:01,NaN,order,NaN
136,49,100288PL,2020-01-14 01:22:13,Leave,NaN,NaN
137,50,10031PL,2019-12-03 11:33:37,Arrive,NaN,NaN
138,50,10031PL,2019-12-03 11:33:44,Leave,NaN,NaN
139,51,10031PL,2019-12-12 18:07:50,Arrive,NaN,NaN
140,51,10031PL,2019-12-12 18:08:00,Leave,NaN,NaN
141,52,10031PL,2020-01-08 20:45:15,Arrive,NaN,NaN
142,52,10031PL,2020-01-08 20:45:30,NaN,add_to_cart,p-7933
143,52,10031PL,2020-01-08 20:49:53,Leave,NaN,NaN
144,53,10031PL,2020-01-14 08:33:44,Arrive,NaN,NaN
145,53,10031PL,2020-01-14 08:34:20,Leave,NaN,NaN
146,54,100329PL,2020-01-14 01:14:07,Flit,NaN,NaN
147,55,100329PL,2020-04-16 07:22:00,Flit,NaN,NaN
148,56,100329PL,2020-05-21 18:09:18,Flit,NaN,NaN
149,57,100329PL,2020-05-23 08:42:52,Arrive,NaN,NaN
150,57,100329PL,2020-05-23 08:43:10,NaN,add_to_cart,p-9967
151,57,100329PL,2020-05-23 08:45:01,Leave,NaN,NaN
152,58,10036PL,2019-12-03 11:34:33,Flit,NaN,NaN
153,59,10036PL,2020-02-05 18:28:28,Arrive,NaN,NaN
154,59,10036PL,2020-02-05 18:30:52,NaN,add_to_cart,c-30
155,59,10036PL,2020-02-05 18:45:13,Leave,NaN,NaN
156,60,10036PL,2020-03-09 16:09:51,Arrive,NaN,NaN
157,60,10036PL,2020-03-09 16:11:47,Leave,NaN,NaN
158,61,10036PL,2020-03-09 17:53:45,Arrive,NaN,NaN
159,61,10036PL,2020-03-09 17:53:45,Leave,NaN,NaN
160,62,10036PL,2020-04-07 13:53:18,Arrive,NaN,NaN
161,62,10036PL,2020-04-07 13:55:34,Leave,NaN,NaN
162,63,10036PL,2020-04-11 19:44:41,Flit,NaN,NaN
163,64,100482PL,2020-01-14 02:47:34,Arrive,NaN,NaN
164,64,100482PL,2020-01-14 02:52:24,NaN,add_to_cart,p-3937
165,64,100482PL,2020-01-14 02:57:15,NaN,add_to_cart,p-8593
166,64,100482PL,2020-01-14 03:12:52,Leave,NaN,NaN
167,65,10049PL,2019-12-03 11:38:02,Arrive,NaN,NaN
168,65,10049PL,2019-12-03 11:42:36,NaN,add_to_cart,p-5127
169,65,10049PL,2019-12-03 11:45:14,Leave,NaN,NaN
170,66,1005PL,2019-12-01 10:38:38,Arrive,NaN,NaN
171,66,1005PL,2019-12-01 10:41:18,NaN,add_to_cart,p-8699
172,66,1005PL,2019-12-01 10:42:35,NaN,add_to_cart,p-9693
173,66,1005PL,2019-12-01 10:42:51,NaN,add_to_cart,c-317_322_327
174,66,1005PL,2019-12-01 10:44:46,NaN,add_to_cart,p-8211
175,66,1005PL,2019-12-01 10:51:31,NaN,add_to_cart,p-6608
176,66,1005PL,2019-12-01 10:59:23,NaN,add_to_cart,p-7948
177,66,1005PL,2019-12-01 11:01:19,NaN,remove_from_cart,NaN
178,66,1005PL,2019-12-01 11:01:45,NaN,remove_from_cart,NaN
179,66,1005PL,2019-12-01 11:02:27,NaN,add_to_cart,c-317_322_327
180,66,1005PL,2019-12-01 11:03:02,NaN,add_to_cart,c-317_322_327
181,66,1005PL,2019-12-01 11:03:18,NaN,add_to_cart,c-317_322_327
182,66,1005PL,2019-12-01 11:03:27,NaN,add_to_cart,c-317_322_327
183,66,1005PL,2019-12-01 11:09:39,NaN,order,NaN
184,66,1005PL,2019-12-01 11:09:45,Leave,NaN,NaN
185,67,1005PL,2020-01-27 00:35:16,Arrive,NaN,NaN
186,67,1005PL,2020-01-27 00:35:16,Leave,NaN,NaN
187,68,1005PL,2020-02-04 16:30:34,Flit,NaN,NaN
188,69,1005PL,2020-02-12 14:17:56,Flit,NaN,NaN
189,70,1005PL,2020-03-18 13:23:09,Flit,NaN,NaN
190,71,1005PL,2020-04-26 07:34:50,Arrive,NaN,NaN
191,71,1005PL,2020-04-26 07:37:19,NaN,add_to_cart,c-317_322_327
192,71,1005PL,2020-04-26 07:37:31,NaN,add_to_cart,c-317_322_327
193,71,1005PL,2020-04-26 07:37:48,NaN,add_to_cart,c-317_322_327
194,71,1005PL,2020-04-26 07:38:07,NaN,add_to_cart,c-317_322_327
195,71,1005PL,2020-04-26 07:38:22,NaN,add_to_cart,c-317_322_327
196,71,1005PL,2020-04-26 07:38:30,NaN,add_to_cart,c-317_322_327
197,71,1005PL,2020-04-26 07:42:04,NaN,add_to_cart,c-24_203
198,71,1005PL,2020-04-26 07:48:36,Leave,NaN,NaN
199,72,1005PL,2020-05-22 07:55:15,Arrive,NaN,NaN

In [6]:
print(sessions.shape)
print(sessions['SessionID'].max())

(112256, 6)
40297

In [7]:
sessions_1d = sessions[sessions['TimeStamp'].between(datetime(2019,12,10,23,0,0),datetime(2019,12,11,22,59,59))]
sessions_1d.head()

      SessionID     IpId           TimeStamp   Event       Action Product
654         207  10201PL 2019-12-11 13:50:36  Arrive          NaN     NaN
655         207  10201PL 2019-12-11 13:50:53     NaN  add_to_cart  p-9623
656         207  10201PL 2019-12-11 14:01:02   Leave          NaN     NaN
1178        385  10318PL 2019-12-11 12:20:24  Arrive          NaN     NaN
1179        385  10318PL 2019-12-11 12:22:45   Leave          NaN     NaN

In [8]:
sessions_1d.to_csv('1dfromsqlite.csv')