In [15]:
import numpy as np
import pandas as pd
from datetime import datetime
import re
import itertools
import time

In [2]:
sessions = pd.read_csv('sessions.csv', index_col=0)
sessions.rename(columns={'SessionID':'SessionId'}, inplace=True)
sessions.shape

(112256, 6)

**From the documentation**: *TimeStamp – long integer value specifying the UTC date and time of the arrival of a request, coded as the number of 100-nanosecond intervals that have elapsed since 00:00:00 UTC on 1st January, 1 A.D.*

In [3]:
seconds = (datetime(1970,1,1)-datetime(1,1,1)).total_seconds()
ticks = seconds * 10**7
sessions['TimeStamp'] = pd.to_datetime((sessions['TimeStamp']-ticks)*100)
sessions.head()

   SessionId      IpId           TimeStamp   Event       Action Product
0          0  100095PL 2020-01-13 21:35:36   Leave          NaN     NaN
1          1  100095PL 2020-04-18 16:14:40  Arrive          NaN     NaN
2          1  100095PL 2020-04-18 16:15:26     NaN  add_to_cart  p-9967
3          1  100095PL 2020-04-18 16:33:07     NaN        order     NaN
4          1  100095PL 2020-04-18 16:34:25   Leave          NaN     NaN

In [4]:
train = sessions[sessions['TimeStamp']<=datetime(2020,3,31,23,59,59)]
test = sessions[sessions['TimeStamp']>datetime(2020,3,31,23,59,59)]

In [5]:
print(train['SessionId'].nunique())
print(test['SessionId'].nunique())

25877
14423

In [6]:
print(train['SessionId'].nunique()/sessions['SessionId'].nunique())
print(test['SessionId'].nunique()/sessions['SessionId'].nunique())

0.6421410491835823
0.3579085810710209

In [7]:
items = train['Product'].dropna().unique()
print(items.shape)
items

(4038,)

array(['p-7414', 'p-6769', 'p-4466', ..., 'p-10522', 'p-2788', 'p-8202'],
      dtype=object)

First we create a session_item table. It is our assumption that the most useful recommendations stem from looking at products purchased together in the same session, rather than simply by the same user. We will do user_item later.

In [8]:
withProduct = train[~train['Product'].isnull()]
session_item = pd.DataFrame(withProduct.groupby('SessionId')['Product'].apply(set))
print(session_item.shape)
session_item

(8401, 1)

                                          Product
SessionId
12                                       {p-7414}
19                       {p-4466, p-6769, p-8068}
20                 {c-34_110, c-34_356, c-34_307}
21         {c-34_118, p-1775, c-34_113, c-34_356}
43                    {c-39_41, c-39_40, c-39_42}
...                                           ...
40274                                    {p-2769}
40275                                    {p-9967}
40276                                    {p-3618}
40281              {p-8755, c-65, p-6637, p-8990}
40282                                    {p-2868}

[8401 rows x 1 columns]

In [9]:
train['Action'].value_counts()

add_to_cart         20226
order                3484
remove_from_cart     1900
change_order          244
delete_cart            86
Name: Action, dtype: int64

In [10]:
3484/120

29.033333333333335

Is it possible the mean number of orders per day could be as few as 30?

In [11]:
sessionFlags = pd.DataFrame()
sessionFlags['Add'] = train.groupby('SessionId')['Action'].apply(lambda y: 'add_to_cart' in set(y))
sessionFlags['Remove'] = train.groupby('SessionId')['Action'].apply(lambda y: 'remove_from_cart' in set(y))
sessionFlags['Delete'] = train.groupby('SessionId')['Action'].apply(lambda y: 'delete_cart' in set(y))
sessionFlags['Order'] = train.groupby('SessionId')['Action'].apply(lambda y: 'order' in set(y))
sessionFlags['Change'] = train.groupby('SessionId')['Action'].apply(lambda y: 'change_order' in set(y))
sessionFlags.head(20)

             Add  Remove  Delete  Order  Change
SessionId
0          False   False   False  False   False
2          False   False   False  False   False
3          False   False   False  False   False
4          False   False   False  False   False
5          False   False   False  False   False
11         False   False   False  False   False
12          True   False   False  False   False
13         False   False   False  False   False
14         False   False   False  False   False
15         False   False   False  False   False
16         False   False   False  False   False
17         False   False   False  False   False
18         False   False   False  False   False
19          True   False   False  False   False
20          True   False   False  False   False
21          True   False   False   True    True
22         False   False   False  False   False
23         False   False   False  False   False
24         False   False   False  False   False
25         False   False   False  False   False

In [12]:
print(sessionFlags[(sessionFlags['Add']==False) & (sessionFlags['Order']==True)].shape)
print(sessionFlags[(sessionFlags['Add']==True) & (sessionFlags['Order']==True)].shape)
print(sessionFlags[(sessionFlags['Add']==True) & (sessionFlags['Order']==True) & \
                  (sessionFlags['Remove']==False) & (sessionFlags['Delete']==False)].shape)
print(sessionFlags[(sessionFlags['Add']==True) & (sessionFlags['Order']==True) & \
                  (sessionFlags['Remove']==False) & (sessionFlags['Delete']==False) & \
                  (sessionFlags['Change']==False)].shape)
print(sessionFlags[sessionFlags['Add']==True].shape)

(28, 5)
(3283, 5)
(2824, 5)
(2660, 5)
(8436, 5)

In [ ]:
# This did not run despite being left overnight. The notebook crashed.
# item_dict = {}
# for item in items:
#     item_dict[item] = {}
#     for jtem in items:
#         if jtem != item:
#             k = np.sum(session_item['Product'].apply(lambda y: jtem in y and item in y))
#             if k != 0:
#                 item_dict[item][jtem] = np.array([
#                     k,
#                     np.sum(session_item['Product'].apply(lambda y: jtem not in y and item in y)),
#                     np.sum(session_item['Product'].apply(lambda y: jtem in y and item not in y)),
#                     np.sum(session_item['Product'].apply(lambda y: jtem not in y and item not in y))
#                 ])                
# item_dict

In [13]:
def non_overlap_pair(kind, s1, s2, included=None):
    if not included:
        return (
            (kind, key[0], key[1], 1) 
            for key in itertools.product(s1, s2)  
            if key[0]!=key[1]
        )
    else:
        return (
            (kind, key[0], key[1], 1) 
            for key in itertools.product(s1, s2)  
            if (key[0]!=key[1]) and (key in included)
        )

In [17]:
start = time.time()
lst = session_item["Product"].to_list()
num_sessions = session_item.shape[0]
all_item = set(items)

both = itertools.chain(
    *(
        non_overlap_pair(0, u_item, u_item) 
        for u_item in lst
    ))


included = set(itertools.chain(
    *(
        (key for key in itertools.product(u_item, u_item) if key[0]!=key[1])
        for u_item in lst 
    )))


first = itertools.chain(
    *(
        non_overlap_pair(1, u_item, all_item-u_item, included) 
        for u_item in lst
    ))


second = itertools.chain(
    *(
        non_overlap_pair(2, all_item-u_item, u_item, included) 
        for u_item in lst
    ))

itemCooc = pd.DataFrame(
    itertools.chain(first, second, both), columns=["kind", "item1", "item2", "freq"])
itemCooc = itemCooc.groupby(["kind", "item1", "item2"]).sum()
itemCooc = itemCooc.unstack(0)
print( time.time() - start)
itemCooc.head()

33.12640643119812

                freq
kind               0     1     2
item1 item2
c-21  c-24_205   1.0  53.0  10.0
      c-24_209   1.0  53.0  14.0
      c-24_211   1.0  53.0   1.0
      c-261      2.0  52.0  21.0
      c-272_312  2.0  52.0  54.0

In [20]:
itemCooc[('freq', 3)] = num_sessions - itemCooc[('freq', 0)] - itemCooc[('freq', 1)] - itemCooc[('freq', 2)]
itemCooc.head()

                freq
kind               0     1     2       3
item1 item2
c-21  c-24_205   1.0  53.0  10.0  8337.0
      c-24_209   1.0  53.0  14.0  8333.0
      c-24_211   1.0  53.0   1.0  8346.0
      c-261      2.0  52.0  21.0  8326.0
      c-272_312  2.0  52.0  54.0  8293.0

In [23]:
itemCooc[('freq',0)].value_counts()

1.0     43974
2.0      2080
3.0       306
4.0        96
5.0        36
7.0        22
6.0        14
9.0         8
8.0         6
12.0        4
15.0        2
13.0        2
27.0        2
11.0        2
41.0        2
Name: (freq, 0), dtype: int64

In [21]:
def shannon(v):
    S = np.sum(v)
    return np.dot(v/S,np.log(np.add(v/S,v==0)))

In [26]:
def llr(x):
    v = np.array([x[('freq', 0)], x[('freq', 1)], x[('freq', 2)], x[('freq', 3)]])
    return 2*np.sum(v)*(shannon(v) - \
                        shannon([v[0]+v[1], v[2]+v[3]]) - \
                        shannon([v[0]+v[2], v[1]+v[3]])
                       )

In [27]:
itemCooc_llr = itemCooc.apply(lambda x: llr(x), axis=1)
itemCooc_llr.head()

item1  item2
c-21   c-24_205     3.537431
       c-24_209     2.942233
       c-24_211     7.352830
       c-261        6.933982
       c-272_312    3.679396
dtype: float64